.CollectingMap {
  float: left;
  width: 75%;
}

.CollectingMap.mouse-over-feature canvas {
  cursor: pointer;
}

@media screen and (max-width: 400px) {
  .CollectingMap {
    float: none;
    width: 100%;
  }
}
