.Filters {
  background: white;
  float: left;
  height: 100vh;
  padding: 10px;
  position: relative;
  width: 25%;
}

.Filters-close {
  display: none;
}

.Filter {
  margin-bottom: 25px;
}

.Filter-label {
  margin-bottom: 5px;
}

.Filter-view-fullscreen {
  bottom: 15px;
  position: absolute;
}

.year-slider {
  margin-top: 10px;
}

.year-slider-indicator {
  display: inline-block;
  vertical-align: top;
  width: 35px;
}

.rc-slider {
  display: inline-block;
  margin: 0 10px;
  width: calc(100% - 90px);
}

.rc-slider-handle {
  border-color: gray;
}

.rc-slider-handle:active {
  border-color: gray;
}

.rc-slider-handle:hover {
  border-color: gray;
}

.rc-slider-track {
  background-color: gray;
}

@media screen and (max-width: 400px) {
  .Filters {
    display: none;
    left: 0;
    position: absolute;
    right: 50%;
    top: 0;
    width: inherit;
    z-index: 1000;
  }

  .Filters.visible {
    display: block;
  }

  .Filters-close {
    background: none;
    border: 0;
    display: block;
    float: right;
    font-size: 24px;
    line-height: 20px;
    padding: 0;
  }
}
