.Filters {
  background: white;
  float: left;
  height: 100vh;
  padding: 10px;
  position: relative;
  width: 25%;
}

.Filter {
  margin-bottom: 15px;
}

.Filter-label {
}

.Filter-view-fullscreen {
  bottom: 15px;
  position: absolute;
}
